@tailwind base;
@tailwind components;
@tailwind utilities;

a {
	color: blue;
}

pre.line-numbers {
  padding: 1.2em;
  position: relative;
}

pre {
	background: blue;
	color: white;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

h1 {
	font-size: 3rem;
	line-height: 1;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
	font-weight: 600;
}

h3 {
    font-size: 1.2rem;
    line-height: 1rem;
	font-weight: 600;
}
